.messageHeader{
  min-width: 500px;
  height: 78.5px;
}

.messages {
  height: calc(100% - (110px + 78.5px + 14px ));
  min-width: 500px;
  overflow-y: scroll;
}

.messageForm {
  position: fixed !important;
  bottom: 0rem;
  right: 1rem;
  left: 0;
  margin-left: 315px !important;
  z-index: 200;
  height: 110px;
  min-width: 500px;
}

.userMessage {
  border-left: 4px solid #c79218;
  padding-left: 6px;
}
