.messages {
  min-height: 75vh;
  overflow-y: scroll;
}

.messageForm {
  position: fixed !important;
  bottom: 0rem;
  right: 1rem;
  left: 0;
  margin-left: 300px !important;
  z-index: 200;
}

.userMessage {
  border-left: 4px solid #c79218;
  padding-left: 6px;
}
