/* Messages */
.messageHeader {
  min-width: 500px;
  height: 78.5px;
}

.messages {
  height: calc(100% - (110px + 78.5px + 14px));
  min-width: 500px;
  overflow-y: scroll;
}

.messageForm {
  position: fixed !important;
  bottom: 0rem;
  right: 1rem;
  left: 0;
  margin-left: 315px !important;
  z-index: 200;
  height: 110px;
  min-width: 500px;
}

.userMessage {
  border-left: 4px solid #c79218;
  padding-left: 6px;
}

/* Meta Pannel */
.metapannel-close {
  float: right;
  font-size: 17px;
  margin: 4px !important;
  cursor: pointer;
}

.metapannel-close:hover {
  color: red;
}

/* Color Pannel */
.color-box {
  overflow: hidden;
  width: 35px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
}
.color-sidebar {
  width: 35px;
  height: 40px;
}

.color-replyBtn,
.color-fileBtn {
  width: 35px;
  height: 40px;
  position: absolute;
  top: 19px;
}

.color-fileBtn {
  left: 18px;
}

.myvoilet {
  background-color: rgba(168, 79, 168, 1);
}

.myorange {
  background-color: rgba(242, 113, 28, 1);
}

.mylight-blue {
  background-color: rgba(69, 182, 174, 1);
}

.myblue {
  background-color: rgba(30, 34, 58, 1);
}

.myyellow {
  background-color: rgba(222, 170, 19, 1);
}

.myred {
  background-color: rgba(219, 40, 40, 1);
}
