/* Messages */
.messageHeader {
  min-width: 500px;
  height: 78.5px;
  margin-top: -15px !important;
}

.messages {
  height: calc(100% - (110px + 48px));
  min-width: 500px;
  overflow-y: scroll;

  margin-top: -15px !important;
}

.messageForm {
  position: fixed !important;
  bottom: 0rem;
  right: 0rem;
  left: 0;
  margin-right: 238px !important;
  margin-left: 60px !important;
  z-index: 200;
  height: 110px;
}

.typingSpace {
  padding: 1.6em 1em 0em 1em !important;
}

.userMessage {
  border-left: 4px solid #c79218;
  padding-left: 6px;
}

/* Typing */

.typing {
  position: absolute;
  top: 0px;
  font-size: 15px;
  font-style: italic;
  color: black;
}

/* Meta Pannel */
.metapannel-box {
  position: absolute;
  top: 57px;
  right: 250px;
  width: 252px;
}

.metapannel-close {
  float: right;
  font-size: 17px;
  margin: 4px !important;
  cursor: pointer;
}

.metapannel-close:hover {
  color: red;
}

/* Color Pannel */
.color-box {
  overflow: hidden;
  width: 35px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
}
.color-sidebar {
  width: 35px;
  height: 40px;
}

.color-replyBtn,
.color-fileBtn {
  width: 35px;
  height: 40px;
  position: absolute;
  top: 19px;
}

.color-fileBtn {
  left: 18px;
}

/* Side Pannel */
.profile-dropdown-box {
  justify-content: flex-start;
  display: flex !important;
  align-items: center;
}

.profile-dropdown-box .dropdown-name {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}
