/* Messages */
.messageHeader {
  min-width: 500px;
  height: 78.5px;
}

.messages {
  height: calc(100% - (110px + 78.5px + 14px));
  min-width: 500px;
  overflow-y: scroll;
}

.messageForm {
  position: fixed !important;
  bottom: 0rem;
  right: 1rem;
  left: 0;
  margin-left: 315px !important;
  z-index: 200;
  height: 110px;
  min-width: 500px;
}

.typingSpace {
  padding: 1.6em 1em 0em 1em !important;
}

.userMessage {
  border-left: 4px solid #c79218;
  padding-left: 6px;
}

/* Typing */

.typing {
  position: absolute;
  top: 0px;
  font-size: 15px;
  font-style: italic;
  color: black;
}

/* Meta Pannel */
.metapannel-close {
  float: right;
  font-size: 17px;
  margin: 4px !important;
  cursor: pointer;
}

.metapannel-close:hover {
  color: red;
}

/* Color Pannel */
.color-box {
  overflow: hidden;
  width: 35px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
}
.color-sidebar {
  width: 35px;
  height: 40px;
}

.color-replyBtn,
.color-fileBtn {
  width: 35px;
  height: 40px;
  position: absolute;
  top: 19px;
}

.color-fileBtn {
  left: 18px;
}
